<div class="card border-primary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de clientes</h5>
        <div class="my-2 text-left">
          <button type="button" name="button" class="btn btn-rounded btn-primary" [routerLink] = "['/clientes/crear']">Crear cliente</button>
        </div>
        <div class="alert alert-info" *ngIf="clientes?.length == 0">
          No hay información aún registrada!
        </div>
        <table class="table table-bordered table-striped" *ngIf="clientes?.length > 0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>EMAIL</th>
                    <th>FECHA</th>
                    <th>EDITAR</th>
                    <th>ELIMINAR</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td>
                        <button [routerLink] = "['/clientes/showDetail', cliente.id]" class="btn btn-success btn-sm">
                          {{cliente.id}}
                        </button>
                    </td>
                    <td>
                        {{cliente.nombre}}
                    </td>
                    <td>
                        {{cliente.apellidoPaterno | uppercase}}
                    </td>
                    <td>
                        {{cliente.email}}
                    </td>
                    <td>
                        {{cliente.createAt | date:"EEEE dd, MMMM yyyy"}}
                    </td>
                    <td>
                      <button type="button" name="button" [routerLink] = "['/clientes/findbyid', cliente.id]" class="btn btn-primary btn-sm">
                        Editar
                      </button>
                    </td>
                    <td>
                      <button type="button" name="eliminar" (click) = "delete(cliente)" class="btn btn-danger btn-sm">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
